<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>竹叶青-用户解绑</title>
<style>
.noindex{ width:96%; padding:2%; font-size:16px; line-height:23px; text-indent:4px; margin-top:5%}
</style>
</head>
<body class="bg">
<img src="__STYLE__/image/d_06.png" style="position:absolute;z-index:-19; bottom:0px; width:80%;height:25%; left:0%;"/>
<div class="noindex">亲，您不是竹叶青会员或者没有绑定微信哦！请回到微信主页点击会员绑定后，在来快捷查询</div>

</body>
</html>