<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>双流地税局-用户登录</title>
<link type="text/css" rel="stylesheet" href="__STYLE__/css/main.css">
<script src="/Public/static/js/weixin.js"></script>
<script src="__WAP__/jquery-1.10.2.min.js"></script>
<script src="/Public/static/laycode/layer.min.js" type="text/javascript"></script>
</head>

<body>
<img src="__STYLE__/image/b0.jpg" style="position:absolute;z-index:-19;left:0px;top:0px;width:100%;height:100%"/>
<div class="land" id="land">
  <div class="login sa">
    <form id="myForm" name="myForm" method="post" action="{:U('login')}">
     <ul>
      <li  style="height:30px; line-height:30px; font-size:20px; text-align:center">用户登录</li>
      <li> <input name="user_phone" type="text" class="txt" id="user_phone" placeholder="手机号"/></li>
	  <li> <input name="user_pass" type="password" class="txt" id="user_pass" placeholder="密码"/></li>
	  <li>
	  </li>
	  
	  
      <li><input type="submit" name="submit" id="submit-" value="登录" class="txt_b" /><input name="wecha_id" type="hidden" id="wecha_id" value="{$wecha_id}"/>
      </li>
     </ul>
     </form>
  </div>  
</div>

</body>
</html>
<!-- <script type="text/javascript">
$("#submit-").on("click",function(){
	$("#submit-").val("注册中...");
	$.post("{:U('register')}",{'user_phone':$("#user_phone").val(),'user_pass':$("#user_pass").val(),'user_sfz':$("#user_sfz").val()},function(data){
		if(data.status==1){
			layer.msg(data.content, 2, 1);
			setTimeout(function (){window.location=data.url;},1000);
		}else{
			layer.msg(data.content, 2, 3);
			setTimeout(function (){$("#submit-").val("立 即 绑 定");},1000);
		}
   },'json');
});
</script> -->
