<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no" name="viewport">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<title>品牌文化</title>
<link type="text/css" rel="stylesheet" href="__STYLE__/css/css.css">
<body>
<div id="zhuye">
  <div id="main">

    <div class="sharp color1">
        <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b> 
        <div class="content">  
          <img src="__STYLE__/image/f1.jpg" />   
          <img src="__STYLE__/image/f2.jpg" />   
          <img src="__STYLE__/image/f3.jpg" />       
        </div>
        <b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>    
    </div>
    
  </div> <!-- main -->
</div>
</body>
</html>