<html xmlns="http://www.w3.org/1999/xhtml"><head>
<title>{$vo.title}</title>
<meta name="description" content="{$vo.intro}">
<meta name="keywords" content="{$vo.intro}">
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="MobileOptimized" content="320">
<meta name="Iphone-content" content="320">
<style>
.tit{ margin-bottom:2px;}
.tit h1{ font-size:26px;}
.tit p{height:18px;}
.tests{ padding:5px; line-height:17px; font-size:12px; border:1px solid #ffeef2; margin-top:2px;-webkit-border-radius:3px; border-radius:3px;}
.tests label{ color:#900; font-weight:bold;}
.txt p img,.txt img{ border:0; max-width:100%}
</style>
</head>
<body>
<div class="tit">
      <h1>{$vo.title}</h1>
      <p>{$vo.addtime|time_ymd} &nbsp;&nbsp;&nbsp;{$vo.author}</p>
    </div>
<div class="txt">
<php>if($vo['intro']){</php>
<div class="tests"><label>导语：</label>{$vo.intro|html_entity_decode}</div>
<php>}</php>
 {$vo.connet|html_entity_decode}
    </div>
</body>
</html>
<script>
document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
	window.shareData = {
		"imgUrl": "{:C('HTTP_URL')}{$vo.pic|default='/Public/images/no_logo.png'}",
		"timeLineLink": "{:C('HTTP_URL')}{:U('Wap/Article/show',array('id'=>$vo['id']))}",
		"sendFriendLink": "{:C('HTTP_URL')}{:U('Wap/Article/show',array('id'=>$vo['id']))}",
		"weiboLink": "{:C('HTTP_URL')}{:U('Wap/Article/show',array('id'=>$vo['id']))}",
		"Title": "{$vo.title|html_entity_decode}",
		"Content": "{$vo.intro|html_entity_decode}",
	};

	// 发送给好友
	WeixinJSBridge.on('menu:share:appmessage', function (argv) {
		WeixinJSBridge.invoke('sendAppMessage', {
			"img_url": window.shareData.imgUrl,
			"img_width": "640",
			"img_height": "640",
			"link": window.shareData.sendFriendLink,
			"desc": window.shareData.Content,
			"title": window.shareData.Title
		}, function (res) {
			_report('send_msg', res.err_msg);
		})
	});

	// 分享到朋友圈
	WeixinJSBridge.on('menu:share:timeline', function (argv) {
		WeixinJSBridge.invoke('shareTimeline', {
			"img_url": window.shareData.imgUrl,
			"img_width": "640",
			"img_height": "640",
			"link": window.shareData.timeLineLink,
			"desc": window.shareData.Content,
			"title": window.shareData.Title
		}, function (res) {
			_report('timeline', res.err_msg);
		});
	});

	// 分享到微博
	WeixinJSBridge.on('menu:share:weibo', function (argv) {
		WeixinJSBridge.invoke('shareWeibo', {
			"content": window.shareData.Content,
			"url": window.shareData.weiboLink
		}, function (res) {
			_report('weibo', res.err_msg);
		});
	});
}, false)
</script>