<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<link href="__CSS__/table_form.css" rel="stylesheet" type="text/css"/>
<title></title>
</head>
<style>
div a{padding:1px 3px; margin:3px; border:1px solid #d0d0d0; text-decoration:none}
</style>
<body>
注销用户
<div class="table-list">
<table>
	<tr class="header"> 
    <td class="w80">编号</td>
    <td class="w80">用户名</td>
      <td class="w80">姓名</td>
      <td class="w80">手机号</td>
	  <td class="w80">wecha_id</td>
	  <td class="w80">身份证</td>
   
      <td class="w50">注册时间</td>
      
    </tr>
    <volist name="volist" id="item">
    <tr> 
      <td>{$item.user_id}</td>
      <td>{$item.user_username}</td>
      <td>{$item.user_name}</td>
      <td>{$item.user_phone}</td>
      <td>{$item.wecha_id}</td>
	  <td>{$item.user_sfz}</td>
	   
      <td>{$item.user_date}</td>
	  
      
    </tr>
    </volist>
    
	<tr class="header"> 
    <td colspan="3"><span class="current">共{$count}条</span>{$pager_bar}</td>
    </tr>
</table>
</div>
</body>
</html>







