<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<link href="__CSS__/table_form.css" rel="stylesheet" type="text/css"/>
<script src="__STATIC__/kindeditor-4.1.10/kindeditor.js"></script>
<script>
var editor;
KindEditor.ready(function(K) {
	editor = K.create('textarea[id="connet"]', {
		allowFileManager : false,
		pasteType : 1,
		filterMode:false,
		resizeType:0,
		fileManagerJson:"__STATIC__/kindeditor-4.1.10/php/file_manager_json.php?mypath=allimg",
		urlType:"__STATIC__/UploadImages/allimg",
		afterBlur: function(){this.sync()},
		uploadJson : "__STATIC__/kindeditor-4.1.10/php/upload_json.php?mypath=allimg",
	});
	K('#buttonimg').click(function() {
		editor.loadPlugin('image', function() {
			editor.plugin.imageDialog({
				imageUrl : K('#picurl').val(),
				clickFn : function(url, title, width, height, border, align) {
					K('#picurl').val(url);
					editor.hideDialog();
				}
			});
		});
	});
});
</script>
<style>
.option1{ background:#E2E9EA;}
</style>
<title>354</title>
</head>
<body>
<div class="pad_10">
<form action="__URL__/insert/" method="post" name="myform" id="myform">
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="table_form">
<php>if($vo['id']){</php>
<tr>
  <th>文章地址:</th>
  <td>{:C('HTTP_URL')}{:U("Home/article/show",array('id'=>$vo['id']))}</td>
</tr>
<php>}</php>
<tr> 
      <th>文章栏目:</th>
      <td><select name="menu_id" id="menu_id" class="input-select">
      <option value="">所属栏目</option>
          <volist name="list" id="item">
          <option value="{$item.id}" <php>if($vo['menu_id']==$item['id']) echo "selected"; if(!empty($item['voo'])) echo 'class="option1"';</php>>{$item.title}</option>
          <volist name="item['voo']" id="sub">
          <option value="{$sub.id}" <php>if($vo['menu_id']==$sub['id']) echo "selected";</php>>&nbsp;&nbsp;&nbsp;&nbsp;{$sub.title}</option>
          </volist>
          </volist>
        </select> (带有背景颜色的不能选择)</td>
    </tr>
	<tr> 
      <th width="80">文章标题:</th>
      <td><input type="text" name="title" id="title" class="input-text" value="{$vo.title}" required="required"></td>
    </tr>
    <tr> 
      <th width="80">展示图片:</th>
      <td><input name="pic" type="text" class="input-text" id="picurl" value="{$vo.pic}">
        <input type="button" name="buttonimg" id="buttonimg" value="预览..." class="button"/>
        <input name="oldimg" type="hidden" id="oldimg" value="{$vo.pic}" /> (建议大小 210*240)</td>
    </tr>
    <tr>
      <th>文章作者:</th>
      <td>
        <input name="author" type="text" id="author" value="{$vo.author}" class="input-text"/></td>
    </tr>
    
    <tr>
      <th>文章导语:</th>
      <td><textarea name="intro" class="input-textarea textareass" id="intro">{$vo.intro}</textarea></td>
    </tr>
    <tr>
      <th>文章内容:</th>
      <td><textarea name="connet" class="input-textarea textareas" id="connet">{$vo.connet}</textarea>
      	
      </td>
    </tr>
    <tr>
      <th>是否启用:</th>
      <td>
          <input name="is_show" type="radio" id="is_show_0" value="1" <php>if($vo[is_show]) echo "checked";</php> />
          显示
          <input type="radio" name="is_show" value="0" id="is_show_1" <php>if(!$vo[is_show]) echo "checked";</php>/>
        隐藏</td>
    </tr>
    <tr>
      <th></th>
      <td><input type="submit" name="dosubmit" id="dosubmit" class="button" value=" 确 定 ">
        <input name="id" type="hidden" id="id" value="{$vo.id}" />
      	<input type="button" name="dosubmit" id="dosubmit" class="button" value=" 返 回 " onclick="javascript:history.back(-1)">
      </td>
    </tr>
</table>
</form>

</div>
</body>
</html>