<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<link href="__CSS__/table_form.css" rel="stylesheet" type="text/css"/>
<script src="__STATIC__/kindeditor-4.1.10/kindeditor.js"></script>
<script>
var editor;
KindEditor.ready(function(K) {
	editor = K.create('textarea[id="connet"]', {
		allowFileManager : false,
		pasteType : 1,
		filterMode:false,
		resizeType:0,
		fileManagerJson:"__STATIC__/kindeditor-4.1.10/php/file_manager_json.php?mypath=allimg",
		urlType:"__STATIC__/UploadImages/allimg",
		afterBlur: function(){this.sync()},
		uploadJson : "__STATIC__/kindeditor-4.1.10/php/upload_json.php?mypath=allimg",
	});
	K('#buttonimg').click(function() {
		editor.loadPlugin('image', function() {
			editor.plugin.imageDialog({
				imageUrl : K('#picurl').val(),
				clickFn : function(url, title, width, height, border, align) {
					K('#picurl').val(url);
					editor.hideDialog();
				}
			});
		});
	});
});
</script>
<style>
.option1{ background:#E2E9EA;}
</style>
<title></title>
</head>
<body>
<div class="pad_10">
<form action="__URL__/addorderdo1/" method="post" name="myform" id="myform">
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="table_form">

	<tr> 
     当前设置是：一周最多预约{$vo.oadd_num}次
    </tr>
    <tr>
     
      <th width="80">次数:</th>
      <td><input name="num" type="text" class="input-text">
       </td>
    </tr>
	
    <tr>
      <th></th>
      <td><input type="submit" name="dosubmit" id="dosubmit" class="button" value=" 修改 ">
        <input name="id" type="hidden" id="id" value="{$vo.oadd_id}" />
      	<input type="button" name="dosubmit" id="dosubmit" class="button" value=" 返 回 " onclick="javascript:history.back(-1)">
      </td>
    </tr>
</table>
</form>

</div>
</body>
</html>