<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no" name="viewport">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<title>预约取消</title>
<link type="text/css" rel="stylesheet" href="__STYLE__/css/css1.css">
<script src="__WAP__/jquery-1.10.2.min.js"></script>
<script src="/Public/static/laycode/layer.min.js" type="text/javascript"></script>

</head>
<body>

<div class="top" >
  <img src="__STYLE__/image/0_04.jpg" class="logo"><b> 预约取消</b>
</div>
<div class="clear"></div>

<div class="make"><img src="__STYLE__/image/3_04.jpg" ><b>预约取消</b>  </div>
<div class="clear"></div>

<div class="box">
  
  
  <ul>
  <li>是否确定取消？</li>
  <li>预约类型名：{$vo.business_name}</li>
  <li>预约号：{$vo.order_number}</li>
  <li>预约时间：{$vo.order_date}</li>
  <input name="order_id" type="hidden" id="order_id" value="{$vo.order_id}"/>
   <li><button  type="button" class="nextpage" id="submit-">确定</button> </li>
    <li><a href="javascript:history.go(-1)"><button type="button" class="previous">取消</button> </a></li>


    
  <!-- <li>
  <button type="submit" class="previous">取消预约</button> </a>
  </li> -->
  </ul>

  
  </ul>
  
</div>





</body>
</html>
<script type="text/javascript">
 
$("#submit-").on("click",function(){
	$.post("{:U('quxiao')}",{'order_id':$("#order_id").val()},function(data){
		if(data.status==1){
			layer.msg("取消成功", 2, 1);
			setTimeout(function (){window.location=data.url;},1000);
		}else{
			layer.msg(data.content, 2, 3);
			setTimeout(function (){$("#submit-").val("注册");},1000);
		}
   },'json');
   
   });

</script>



