<!DOCTYPE html>
<html>
<style type="text/css" id="33774808000">
</style>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no"
          name="viewport">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <title>找回密码</title>
    <link type="text/css" rel="stylesheet" href="__STYLE__/css/css2.css">

    <script src="__WAP__/jquery-1.10.2.min.js"></script>
    <script src="__PUBLIC__/static/laycode/layer.min.js" type="text/javascript"></script>

    <link type="text/css" rel="stylesheet" href="__PUBLIC__/static/laycode/skin/layer.css" id="skinlayercss">
</head>
<body style="">
<div class="top">
    <img src="__STYLE__/image/0_04.jpg" class="logo"><b> 修改密码</b>
</div>
<div class="clear">
</div>
<div class="box">
    <div class="enterprise">
        <ul>
            <li>
                <input type="text" the_id="{$id}" user_type="{$user_type}" class="ent_1" name="new_pwd" id="new_pwd" placeholder="新的密码 ">
            </li>
        </ul>
        <button type="button" class="nextpage" id="submit-" >
            提交</button>
    </div>
</div>
<script type="text/javascript">

    $("#submit-").on("click",function(){
        var flag =true;
        var new_pwd = $('#new_pwd').val();
        var id = $('#new_pwd').attr('the_id');

        if(new_pwd.length < 6) {
            alert('密码不能小于6位！');return false;
        }

        var user_type = $('#new_pwd').attr('user_type');
        /*if (user_email == '') {
            alert('邮箱不能为空!');return false;
        }
        else if(!(/^[a-zA-Z0-9]+@[a-zA-z0-9]+\.[a-zA-z0-9]+$/).test(user_email)){
            layer.msg("电子邮箱格式不正确！", 2, 3);
            flag = false;
        }*/
        if (flag) {
            $.post("{:U('Member/changePwd')}", {new_pwd: new_pwd , id: id,user_type: user_type}, function (data) {
                if (data == 'success') {
                    alert('修改密码成功！');
                    window.location.href="{:U('Login/login')}";
                } else {
                    console.log(data);
                    alert(data);
                }
            });
        }
    });
</script>
</body>
</html>
