<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="__STYLE__/css/css.css">
<title>碧潭飘雪-品味</title>
<meta content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no" name="viewport">
<meta name="viewport" content="width=device-width, initial-scale=1,">

  
</head>

<body>
<div id="zhuye">
  <div id="main">
  <a href="http://item.jd.com/1035916310.html">
     <div class="product_yi">
       <div class="yi_tup"><img src="__STYLE__/image/btpxtop.gif" /></div>
       <ul class="yi_list">
         <li class="sk"><img src="__STYLE__/image/g2.jpg" /></li>
         <li>峨眉山明前绿茶与广西横县三伏茉莉融合<br /> 6次窨制。</li>
         <li class="yi_ys"><img src="__STYLE__/image/g3.gif" /></li>
       </ul>     
       
     </div>    
</a>
  </div> <!-- main -->
</div>
</body>
</html>
