<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no" name="viewport">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<title>产品介绍</title>
<link type="text/css" rel="stylesheet" href="__STYLE__/css/css.css">
<link href="__STATIC__/js/jquery-1.11.1.min.js">
</head>
<body>
<body>
<body>
<div id="zhuye">
  <div id="main">
     <div class="lvcha">
       <div class="lvcha_two"><img src="__STYLE__/image/j6.jpg"/></div>
       <a href="http://item.jd.com/1114082736.html">
       <div class="lvcha_list">
         <div class="lvcha_top">
           <div class="lvcha_txt">静心<p> -1217- </p></div>
           <div class="lvcha_tup"><img src="__STYLE__/image/j7.jpg" /></div>
         </div>
         <div class="clear"></div>
         <div class="lvcha_wenb">峨眉山海拔800-1200米生态茶园出品<br />嫩栗香持久，滋味鲜爽。</div>
       </div>
       </a>
        <hr />
        <a href="http://item.jd.com/1030991145.html">
       <div class="lvcha_list">
         <div class="lvcha_top">
           <div class="lvcha_txt">静心<p> -1273- </p></div>
           <div class="lvcha_tup"><img src="__STYLE__/image/j8.jpg" /></div>
         </div>
         <div class="clear"></div>
         <div class="lvcha_wenb">峨眉山海拔800-1200米生态茶园出品<br />嫩栗香持久，滋味鲜爽<br />蜀锦版包装更添四川韵味。</div>
       </div>    
       </a>
     </div>     

  </div> <!-- main -->
</div>
</body>
</body>
</body>
</html>