<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no" name="viewport">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<title>竹叶青论道</title>
<link type="text/css" rel="stylesheet" href="__STYLE__/css/css.css">
</head>
<body>
<body>
<div id="zhuye">
  <div id="main">
     <div class="lvcha">
       <div class="lvcha_three"><img src="__STYLE__/image/j9.jpg"/></div>
       <a href="http://item.jd.com/1142661402.html">
       <div class="lvcha_list">
         <div class="lvcha_top">
           <div class="lvcha_txt">论道<p> -800- <br /> 品鉴级</p></div>
           <div class="lvcha_tup"><img src="__STYLE__/image/j10.jpg" /></div>
         </div>
         <div class="clear"></div>
         <div class="lvcha_wenb">峨眉山海拔800米论道特定茶园出品<br />嫩栗香馥郁，滋味醇爽。</div>
       </div>
       </a>
        <hr />
        <a href="http://item.jd.com/1000549832.html">
       <div class="lvcha_list">
         <div class="lvcha_top">
           <div class="lvcha_txt">论道<p> -1200- <br /> 珍藏级</p></div>
           <div class="lvcha_tup"><img src="__STYLE__/image/j11.jpg" /></div>
         </div>
         <div class="clear"></div>
         <div class="lvcha_wenb">峨眉山海拔1200米论道特定茶园出品<br />嫩栗香馥郁，韵味悠长。</div>
       </div>
       </a>  
        <hr />
        <a href="http://item.jd.com/1000547940.html">
       <div class="lvcha_list">
         <div class="lvcha_top">
           <div class="lvcha_txt">论道<p> -1500- <br />大师级</p></div>
           <div class="lvcha_tup"><img src="__STYLE__/image/j12.jpg" /></div>
         </div>
         <div class="clear"></div>
         <div class="lvcha_wenb">峨眉山海拔1500米论道特定茶园出品<br />独芽均匀，滋味鲜醇。</div>
       </div>
       </a>
     </div>     

  </div> <!-- main -->
</div>
</body>
</body>
</html>