/**
 * SyntaxHighlighter
 *
 * Mr.Song 定制显示样式! For http://www.duoao.cn
 *
 */
.syntaxhighlighter {
  background-color: #2F3537 !important;
  padding:5px 0 !important;
  *padding-bottom:20px !important;	/* 底部距离 for IE6*/
}
.syntaxhighlighter .line.alt1 {
  background-color: #2F3537 !important;
}
.syntaxhighlighter .line.alt2 {
  background-color: #2F3537 !important;
}
.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
  background-color: #2F3537 !important;
}
.syntaxhighlighter .line.highlighted.number {
  color: white !important;
}
.syntaxhighlighter table caption {
  color: #d3d3d3 !important;
}
.syntaxhighlighter .gutter {
  color: #d3d3d3 !important;


}
.syntaxhighlighter .gutter .line {
  border-right: 3px solid #990000 !important;
}
.syntaxhighlighter .gutter .line.highlighted {
  background-color: #990000 !important;
  color: black !important;
}
.syntaxhighlighter.printing .line .content {
  border: none !important;
}
.syntaxhighlighter.collapsed {
  overflow: visible !important;
}
.syntaxhighlighter.collapsed .toolbar {
  color: #ebdb8d !important;
  background: black !important;
  border: 1px solid #990000 !important;
}
.syntaxhighlighter.collapsed .toolbar a {
  color: #ebdb8d !important;
}
.syntaxhighlighter.collapsed .toolbar a:hover {
  color: #ff7d27 !important;
}
.syntaxhighlighter .toolbar {
  color: white !important;
  background: #990000 !important;
  border: none !important;
}
.syntaxhighlighter .toolbar a {
  color: white !important;
}
.syntaxhighlighter .toolbar a:hover {
  color: #9ccff4 !important;
}
.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
  color: #aaa !important;
}
.syntaxhighlighter .plain a {
  color: #FFF !important;
  text-decoration: normal;
}
.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
  color: #ff7d27 !important;
}
.syntaxhighlighter .string, .syntaxhighlighter .string a {
  color: #ff9e7b !important;
}
.syntaxhighlighter .keyword {
  color: #49A1D3 !important;
}
.syntaxhighlighter .preprocessor {
  color: #aec4de !important;
}
.syntaxhighlighter .variable {
  color: #ffaa3e !important;
}
.syntaxhighlighter .value {
  color: #009900 !important;
}
.syntaxhighlighter .functions {
  color: #FF0080 !important;
}
.syntaxhighlighter .constants {
  color: #ff9e7b !important;
}
.syntaxhighlighter .script {
  font-weight: bold !important;
  color: aqua !important;
  background-color: none !important;
}
.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
  color: #ebdb8d !important;
}
.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
  color: #ff7d27 !important;
}
.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
  color: #aec4de !important;
}

.syntaxhighlighter .Mr.Song_notice, .syntaxhighlighter .Mr.Song_notice a {
  color: #BEFF21; background-color: #000 !important;
}
.syntaxhighlighter .Mr.Song_func, .syntaxhighlighter .Mr.Song_func a {
  color: #F8745E;
}
.syntaxhighlighter .Mr.Song_key, .syntaxhighlighter .Mr.Song_key a {
  color: #FAB600;
}
.syntaxhighlighter .Mr.Song_php, .syntaxhighlighter .Mr.Song_php a {
  color: #D565FF;
}
.syntaxhighlighter table td.code .container textarea {	/* 双击复制代码 */
  margin-left: 0 !important;
  *margin-left: -60px !important; /*IE6*/
}
