<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script charset="utf-8" src="__JQ__/jquery.js"></script>
<title>回复</title>
</head>
<body>
	<form action="{:U('Sys/Message/reply')}?id={$id}" method="post" onSubmit="return sub();">
		回复内容：
		<textarea cols="33" name="content" id="cont"></textarea><span id="span3"></span>
		<br>
		<input id="submit" type="submit" name="submit" value="提交" />
	</form>
	<script>
		function sub() {
			var cont = $("#cont").val();
			if (cont == '') {
				$("#span3").html("<font color='red'>内容不能为空</font>");
				return false;
			} else {
				return true;
			}
		}
	</script>
</body>
</html>